//- File: views/templates/template-2.pug
doctype html
html
  head
    title CV Template 2
  body
    div(style="border: 1px solid black; padding: 20px;")
      h1 #{cv.firstName} #{cv.lastName}
      p #{cv.profession}
      p
        | Email: #{cv.email}
        | Phone: #{cv.phone}
      div(style="margin-top: 20px;")
        h2 Work Experience
        ul
          each work in cv.workExperience
            li
              | #{work.jobTitle} at #{work.company} - #{work.startDate} to #{work.endDate}
      div(style="margin-top: 20px;")
        h2 Education
        ul
          each edu in cv.education
            li
              | #{edu.degree} in #{edu.fieldOfStudy} from #{edu.school} - #{edu.graduationDate}
      div(style="margin-top: 20px;")
        h2 Skills
        ul
          each skill in cv.skills
            li #{skill}
      div(style="margin-top: 20px;")
        h2 Custom Sections
        each section in cv.customSections
          h3 #{section.sectionTitle}
          p #{section.content}
